@* @model IEnumerable<ViewModelCatApartados> *@
@{
    ViewData["Title"] = "Listado de SubApartados";
}

<div id="form" action="Index">
    <div class="card">
        <div class="card-header">
            <div>

                <div class="mb-3">
                    <a asp-action="Crear" class="btn btn-primary">  <i class="bi-pencil"></i> Nuevo Sub Apartado</a>
                </div>
            </div>

        </div>
        <div class="card-body">
            <table id="tablaDatos" class="dropdown-grid">
                <thead>
                    <tr>
                        <th>opciones</th>
                        <th>Clave SA</th>
                        <th>Nombre Apartado</th>
                        <th>Sub Apartado</th>
                        <th>Unifamiliar</th>
                        <th>Normal</th>
                        <th>Redensificado</th>
                        <th>Con crédito</th>
                    </tr>
                </thead>

                <tbody id="cuerpoDatos">

                    @foreach (var ViewModelSubAparadosEstilos in Model)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-primary" asp-action="Editar" asp-route-Id="@ViewModelSubAparadosEstilos.ConceptoID">Editar</a>
                                <a class="btn btn-danger" asp-action="Borrar" asp-route-Id="@ViewModelSubAparadosEstilos.ConceptoID">Borrar</a>
                            </td>

                            <td>@ViewModelSubAparadosEstilos.ConceptoID</td>

                            <td>@ViewModelSubAparadosEstilos.Apartado</td>
                            <td>@ViewModelSubAparadosEstilos.Concepto</td>
                            @*   <td class="@ViewModelSubAparadosEstilos.EstiloUnifamiliar form-control">@ViewModelSubAparadosEstilos.RUnifamiliar</td> *@

                            <td><a class="@ViewModelSubAparadosEstilos.EstiloNormal form-control" asp-action="Index">@ViewModelSubAparadosEstilos.RUnifamiliar</a></td>
                            <td><a class="@ViewModelSubAparadosEstilos.EstiloUnifamiliar form-control" asp-action="Index">@ViewModelSubAparadosEstilos.RNormal</a></td>
                            <td><a class="@ViewModelSubAparadosEstilos.EstiloRedensificacion form-control" asp-action="Index">@ViewModelSubAparadosEstilos.RRedensificacion</a></td>
                            <td><a class="@ViewModelSubAparadosEstilos.EstiloConcredito form-control" asp-action="Index">@ViewModelSubAparadosEstilos.RConcredito</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <h5> <i class="bi-folder"></i> Control y Registro de Sub Apartados de Expedientes</h5>
            <div class="mb-3">
                <a class="btn btn-info" asp-controller="Home" asp-action="Index">Regresar</a>
            </div>
        </div>
    </div>
</div>
